# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Unused models
models/stage-1.pth
models/stage-2.pth